.icon-envelope {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}