.address {
  display: inline;
  width: 231px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  &__tel,
  &__mail {
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &__map {
    color: $second-accent-color;
    &__list {
      padding-left: auto;
      padding-right: auto;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    text-align: left;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 9px;
    @media screen and (min-width: 1200px) {
      .address__item:not(:last-child) {
        margin-bottom: 9px;
      }
    }
  }
}

.address__link:hover,
.address__link:focus {
  color: $accent-color;
}
