.team {
  background-color: #f5f4fa;
}
.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $prymary-text-color;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.team__title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $prymary-text-color;
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: $title-text-color;
}
.team__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc((-1) * #{$list-work-item});
    margin-top: calc((-1) * #{$list-work-item});
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $second-accent-color;

  margin-top: 30px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 3 - #{$list-work-item});
    margin-left: $list-work-item;
    margin-top: $list-work-item;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - $list-work-item);
    margin-left: $list-work-item;

    &:first-of-type {
      margin-left: 0px;
    }
  }
}
.team__border {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 354px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  text-align: center;
  border-left: $border-color;
  border-right: $border-color;
  border-bottom: $border-color;
  padding: 30px 24px 30px 24px;
}
.team__border.social {
  margin-left: auto;
  margin-right: auto;
}
.team__img {
  max-width: 450px;
  max-height: 460px;
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
