  $prymary-text-color: #212121;
  $title-text-color: #757575;
  $accent-color: #2196f3;
  $second-accent-color: #ffffff;
  $prymary-bg-color: #2196f3;
  $icon-color: #afb1b8;
  $bg-icon-color: #f5f4fa;
  $border-color: 1px solid rgba(238, 238, 238, 1);
  $list-work-item: 30px;


